html{
  background :tan


}
body{
  width:80%
  background:blue;
  font family:monospace;
  margin-left: : auto;
  margin-right: auto;
  padding: 10px;

}
h1{
  color: purple ;
  font-size : 2.5em;
}
h2{
  color: teal;
  font-size : 2.5em;
}
h3{
  color: hotpink;
  font-size : 2.5em;
}
